body, html {
    height: 100%;
}

body { 
    /* The image used */
    background-image: url("/img/abstract-acrylic-art-1000366.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.brand-logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}