body, html {
    height: 100%;
}

body { 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* The image used */
    background-image: url("/img/abstract-acrylic-art-1000366.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

nav h1 {
    padding: 0px;
    text: rgba(24, 17, 17, 0.509);
    /* margin: 0px; */
    text-align: center;
    display:inline-block;
    vertical-align:top;
    line-height: 0%;
   
  }
  
  .fa-shopping-cart {
    color: rgba(24, 17, 17, 0.509);
  }

main {
    flex: 1 0 auto;
  }

.brand-logo {
    font-family: cursive;
    font-size: 40px;
    font-weight: 300;
    float: left;

}

.section-follow .fa-2x{
    margin: 5px 10px;
    flex-shrink: 0;
  
}

.gallery-content {
    flex: 1 0 auto;
    /* background-image: url("/img/abstract-acrylic-art-1000366.jpg"); */
    /* background-image: "https://www.pexels.com/photo/photo-of-paint-splatter-artwork-1000366/" */
    background-image: url("https://images.pexels.com/photos/1000366/pexels-photo-1000366.jpeg?auto=compress&cs=tinysrgb&h=350");

}

.footer {
    flex-shrink: 0;
}

#searchbar {
    position: relative;
    text-align: center;

}
    
